/* QUIZ HTML PAGE ITEMS */
body {
    background-image: url(./customization/5450.jpg);
    background-position: bottom background-size=cover;
    background-repeat: no-repeat;
    margin: auto;
}

/* COLORS AND FONTS*/
/* #92cf7d green*/
/* #f59fc4 pink*/
/* #ef5561 red */
/* #f8f086 yellow */
/* #6ec8ed blue */
/* #acd9d3 mint */
/* #d5a9d3 purple */
/* #f087a0 light red */
/* font-family: 'Monofett', cursive;
font-family: 'Nova Mono', monospace; */

/* BUTTONS */
.button {
    width: 135px;
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    border: 15px double white;
    background-image: url(./customization/4149851.webp);
    background-size: 100%;
    font-size: large;
    font-family: 'Monofett', cursive;
}

a:link,
a:hover,
a:active,
a:visited {
    color: black;
    text-decoration: none;
    font-family: 'Monofett', cursive;
}

.countdown {
    position: absolute;
    z-index: 10;
    width: 135px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    border: 15px double white;
    left: 1050px;
    top: 10px;
    background-image: url(./customization/4149851.webp);
    background-size: 100%;
    font-size: large;
    font-family: 'Monofett', cursive;
}

/* QUIZ BOX */
#container {
    height: 300px;
    width: 700px;
    border-radius: 50px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    left: 275px;
    top: 80px;
    border-style: double;
    border-width: 25px;
    border-color: white;
    background-image: linear-gradient(#6ec8ed, #edbbd3, #f8f086);
}

/* START BUTTON */
#start {
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width: 200px;
    height: 200px;
    border: 25px double white;
    border-radius: 50%;
    text-align: center;
    font-size: xx-large;
    line-height: 200px;
    cursor: pointer;
    position: absolute;
    left: 300px;
    top: 50px;
    background-image: url(./customization/pastelclouds-06-091815-981_thumb.jpg);
    left: 225px;
    top: 30px;
    font-family: 'Monofett', cursive;
}

#start:hover {
    border: 25px double white;
    background-image: url(./customization/v935-aum-10-a_2.jpg);
    background-size: contain;

}

/* QUESTIONS AND ANSWERS */
#question {
    width: 500px;
    height: 125px;
}

#question p {
    padding: 20px;
    padding-right: 15px;
    margin-right: -35px;
    font-size: x-large;
    text-align: right;
    font-family: 'Nova Mono', monospace;
}

#choices {
    display: inline;
    position: absolute;
    right: 65px;
    top: 80px;
    padding: 20px;
}

.choice {
    display: inline-block;
    width: 135px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    border: 15px double #f59fc4;
    background-image: url(./customization/4149851.webp);
    background-size: 100%;
    font-family: 'Nova Mono', monospace;
}

.choice:hover {
    border: 15px double #6ec8ed;
    font-weight: bold;
    background-image: url(./customization/images.png);
    background-size: 100%;
}


/* PROGRESS CIRCLE BAR */
#progress {
    width: 500px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    text-align: right;
}

.prog {
    width: 25px;
    height: 25px;
    border: 7px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

/* POP-UP SCORE PAGE (AFTER FINISHING QUIZ) */
#scoreContainer {
    background-image: url(./customization/v935-aum-13-a_3.jpg);
    background-size: 100%;
    border: #f8f086;
    border-style: double;
    border-width: 25px;
    opacity: 0.9;
    height: 300px;
    width: 700px;
    border-radius: 50px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    top: 50px;
    display: none;
    font-family: 'Monofett', cursive;

}

#scoreContainer p {
    font-size: xxx-large;
    padding: 80px;
    text-align: center;
    font-family: 'Monofett', cursive;
}



/* HIGHSCORE HTML PAGE ITEMS */
h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Monofett', cursive;
}

.submit {
    position: absolute;
    top: 225px;
    right: 545px;
    font-family: 'Monofett', cursive;
    font-size: large;
}

.reset {
    position: absolute;
    top: 225px;
    right: 20px;
    font-family: 'Monofett', cursive;
    font-size: large;
}

label {
    position: absolute;
    top: 70px;
    left: 190px;
    font-family: 'Nova Mono', monospace;
}

#intialsText {
    position: absolute;
    top: 70px;
    right: 180px;
    font-family: 'Nova Mono', monospace;
}

li {
    text-align: center;
    list-style: none;
    display: table;
    margin: 0px auto 0px auto;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Nova Mono', monospace;
}

.li1 {
    background-color: #f087a0;
    border: #f087a0;
}

.li2 {
    background-color: #d5a9d3;
    border: #d5a9d3;
}